{{ define "title" }}Log In{{ end }}

{{ define "content" }}
<h1>Log In</h1>
<p>Don't have an account? <a href="/register">Create one</a>.</p>

<form method="post" action="/login">
  <input type='hidden' name='csrf_token' value='{{ .CSRFToken }}'>

  {{ template "form-errors" .Form.Errors }}

  {{ with .Form.Fields.email }}
    <label for="email">Email:</label>
    <input id="email" name="{{ .Name }}" type="email" value="{{ .Value }}" required>
    <br>
    {{ template "form-errors" .Errors }}
  {{ end }}

  {{ with.Form.Fields.password }}
    <label for="password">Password:</label>
    <input id="password" name="{{ .Name }}" type="password" autocomplete="current-password">
    <br>
     {{ template "form-errors" .Errors }}
  {{ end }}

  <button type="submit">Log In</button>
</form>
{{ end }}
